.wrapper__form-order {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(var(--black-color) 30%, transparent);
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding: 4rem;
    border: 3px solid var(--black-color);
    background: var(--gold-color);
    color: black;
}

.form__title {
    font-family: 'Merriweather-Bold', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.form__btn_submit {
    margin-top: 2rem;
    background: var(--black-color);
    color: var(--gold-color)
}

.form__btn_close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: auto;
    height: auto;
    font-size: 2rem;
    font-weight: bold;
    padding: 0px 10px 3px 10px;

    color: var(--gold-color);
    background: var(--black-color);
}

.form_order .input {
    border-color: var(--black-color);
    color: var(--white-color);
}

.form_order .input::placeholder {
    color: var(--black-color);
}

.form_order .input:hover::placeholder {
    color: var(--white-color);
}