.portfolio__wrapper_buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;

    padding: 60px 0;
}

.portfolio__btn {
    color: var(--gold-color);
    background-color: var(--black-color);
    border: var(--standard-border);
}
.portfolio__btn:hover {
    color: var(--white-color);
}
.portfolio__btn_active {
    color: var(--black-color);
    background-color: var(--gold-color);
}

.portfolio__wrapper_images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    overflow: hidden;
}


.portfolio__wrapper_image {
    overflow: hidden;
}
.portfolio__image {
    margin: 0 auto;
    transition: transform var(--transition-time);
}
.portfolio__image:hover {
    transform: scale(1.1);
}