
.video__player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 60px;
}

.video__button {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    cursor: pointer;
    visibility: hidden;
}

.video__icon {
    visibility: visible;
    transition: filter var(--transition-time);
}
.video__button:hover .video__icon {
    filter: var(--icon-gold);
}